@model List<Music_Store_Management.Models.Customer>

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (!Model.Any())
{
    <text>We don't have any customer yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>MemberShip Type</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var customer in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@customer.Name, "Edit", "Customer", new { id = customer.Id })
                        </td>
                        <td>
                            @customer.MembershipType.Name
                        </td>
                    </tr>
                }
            }
        </tbody>
       

    </table>
}


